/*For the Background Image : hhttps://pngtree.com/freebackground/perfume-minimalistic-pink-poster-background-banner_1039636.html */
/* Including image such that it is fixed and covers the screen */
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
}

/* adding properties to the header of the body */
header{
	text-align: center;
	color: rgb(24, 61, 24);
    text-shadow:0 0 10px rgb(151, 81, 151) ;
}

/* adding font properties, color, padding and margin to the h2 element of header of the body */
header h2{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight:900;
	font-size: 190%;
	color: rgb(146, 83, 115);
    margin-bottom: 0;
    padding-bottom: 0%;
}

/* adding font properties, padding and margin to the h3 element of header of the body */
header h3{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0%;
    margin-top: 0%;
	font-size: 110%;
}
/* fixing form width, adding border and background */
form{
    width: 450px;
    border: 5px solid rgb(9, 58, 9);
    border-radius: 10px;
    margin: 0 33%;
    background: rgb(228, 186, 194);
    padding: 30px;
}

/* fixing label width and adding font properties and padding */
label{
    width: 170px;
    Display: inline-block;
    font-size: 15px;
    font-family: cursive;
    padding: 5px;
}

/* adding font properties for input */
input{
    font-size: 17px;
    font-family: cursive;
	margin: 10px 0;
}

/* adding font properties, background, width and margin for input type submit */
input[type="submit"]{
    background:rgb(12, 82, 12);
	color: rgb(211, 159, 185);
    width: 400px;
    margin: 20px;
    font-family:  cursive;
    font-weight: 900;
    padding: 5px;
    font-size: 30px;
}

/* adding table properties for receipt */
table{
    font-size: 20px;
    color: rgb(9, 58, 9);
    border: 5px solid rgb(9, 58, 9);
    border-radius: 10px;
    margin: 0 25%;
    text-align: left;
    width: 450px;
    padding: 10px;
}

/* adding table properties for ItemReceipt */
#itemReceipt{
    margin:0 25%;
    padding: 10px;
    border:none;
}

/* adding properties to the title of the receipt */
#title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight:900;
	font-size: 110%;
    padding: 0 33%;
	color: rgb(85, 41, 63);
    border-bottom: 5px solid rgb(9, 58, 9);

}
/* adding properties to the navigation bar */
.nav_menu{
    background-color: rgb(150, 101, 128);
    border: 5px solid rgb(9, 58, 9);
    color: white;
    border-radius: 20px;
	margin: 2% 37%;
	width: 26%;
}

/* adding properties to the navigation bar list */
.nav_menu ul{
    list-style-type: none;
    margin: 0;
}

/* adding properties to the navigation bar list item*/
.nav_menu ul li{
    display: inline-block;
	font-size: 110%;
    width: 110px;
}

/* adding properties to the navigation bar anchor*/
.nav_menu ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.allOrderTable{
    margin: 0;
    padding: 0 1%;
    width: 95%;
}

.allOrderTable th,td{
    padding: 0 5px;
    font-size: 80%;
}

.allOrderTable th{
    font-weight: bolder;
}